USE [master]
GO
/****** Object:  Database [Aguila_Curda]    Script Date: 02/11/2019 1:30:42 ******/
CREATE DATABASE [Aguila_Curda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aguila_Curda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Aguila_Curda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Aguila_Curda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Aguila_Curda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aguila_Curda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aguila_Curda]
GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 02/11/2019 1:30:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULO](
	[Id_Articulo] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Marca] [varchar](20) NULL,
	[Costo] [float] NULL,
	[Precio_Unitario] [float] NULL,
	[Proveedor] [varchar](50) NULL,
	[Vencimiento] [varchar](50) NULL,
 CONSTRAINT [PK_ARTICULO] PRIMARY KEY CLUSTERED 
(
	[Id_Articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
